
html{
    height: 100%;
}
#header{
    margin: 0;
    font-size:30px;
    font-weight: bold;
    padding: 5px;
    background-color: beige;
    display: flex;
    flex-direction: row;
    align-items: center;
  
}


body{
    background-color: rgb(233, 158, 18)  !important;

}

.MainContainer{
    margin: 5px;    
  
}

.Container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}


@media screen and (max-width:600px) {
    .Container{
        display: flex;
        flex-direction: column;
    
        
    }

    #viewCart{
        margin-left: 0;
     }
    
}

h2{
    text-align: center;
    font-weight: 800;
  
}


.menuContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;
    margin-left: 20px;
    border: 1px solid;
    border-color: gray;
    width: max-content;
    padding: 15px;
    border-radius: 8px;
    transition: 0.3s ease-in;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;



}

.menuContainer:hover{
    transform: scale(1.1);
     box-shadow: 1px 3px 4px 2px;
}

#cart{
    margin-top: 20px;
    
}


#viewCart{
   margin-left: 45%;
}

#header{
   transition: 0.3s ease;



}


#header:hover{
    color: rgb(214, 77, 77);
    transform: scale(1.1);
}

#heading{
    animation-name:move;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    position: relative;
    left: 0;
    top:0
}


#icon{
    animation-name:moveIcon;
    animation-duration: 5s;
    position: absolute;
    animation-fill-mode: forwards;
    right:0;

    

}



@keyframes move {
    from {
        left:0;
        top:0;
    }

    to{
        left:40%
    }
}


@keyframes moveIcon {
    from{
        right:0;
    }

    to{
        right:42%
    }
}